a {
  font-weight: 500;
  color: #d8f295;
  text-decoration: none;
  transition: color 0.25s ease;
}
a:hover {
  color: #d8f295;
}

button {
  border: 1px solid transparent;
  padding: 0.7em 1.4em;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: #444;
  border-color: #d8f295;
  transform: scale(1.05);
}
/* button:focus, */
button:focus-visible {
  outline: 3px solid #d8f295;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body {
    background: linear-gradient(to bottom right, #ffffff, #f0f0f0);
    color: #1a1a1a;
  }
  button {
    background-color: #f1f1f1;
    color: #1a1a1a;
  }
  button:hover {
    background-color: #e0e0e0;
  }
  a:hover {
    color: #747bff;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

button {
  border-radius: 100px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes glow {
  0% {
    transform: scale(1);
    box-shadow: 0 0 100px 4px #bec37c;
  }
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 100px 4px rgb(100, 102, 65);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.puzzle-grid-wrapper {
  isolation: isolate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(16, 21, 12, 0.154);
  backdrop-filter: blur(1px);
  padding: 1rem;
  border-radius: 1rem;
  transition: background 0.5s, box-shadow 0.5s;
  min-height: 500px;
  height: calc(100vh - 4rem);
}

.controller-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.controller-wrapper > button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #333512;
  background-color: #ffeb94;
  text-transform: uppercase;
  font-size: 0.9rem;
  --border-radius: 100px;
  border-radius: 0px;
  padding-right: 30px;
}

.controller-wrapper > button:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: #ffd042;
}
.controller-wrapper > button:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: #ffde4a;
}

.congrats-tile {
  color: rgb(232, 255, 164);
  font-size: 1.5rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 5rem;
  justify-content: center;
  border-radius: 60% 40% 30% 70% / 50% 60% 40% 50%;
  animation: fadeIn 0.5s;
  background-color: #1a1a1a86;
  backdrop-filter: blur(20px);
  flex-direction: column;
}

.congrats-tile .flex {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.congrats-tile .info{
  font-size: 0.8rem;
}

.play-again-btn {
  background-color: #e8ffa4;
  color: black;
}

.play-again-btn:hover {
  background-color: #b1c37c;
  border-color: #e3ff8e;
  transform: scale(1.05);
}

.game-wrapper {
  isolation: isolate;
  position: relative;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 2fr;
  height: 100vh;
}
.game-wrapper .main-component {
  padding: 1rem;
}

.game-wrapper .side-component {
  background-color: rgba(0, 0, 0, 0.453);
  backdrop-filter: blur(10px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-details {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  color: rgb(255, 252, 237);
  font-size: 0.9rem;
}
.game-details p {
  margin: 0;
}
.game-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-stats {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.game-stats p {
  margin: 0;
}

.level-stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.stats-tile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 20px;
  background-color: #ffeb94;
  color: black;
}

.stats-tile .title {
  font-weight: bold;
}
.stats-tile .value {
  font-size: 1.2rem;
  text-align: right;
}
.title-line {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  align-items: center;
}

.title-line::before,
.title-line::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #ffeb9458;
}

.title-line::after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title-line::before {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}

.modal.visible {
  opacity: 1;
  visibility: visible;
}

.modal .btn {
  background-color: #f0ff91;
  color: black;
  text-transform: uppercase;
}
.game-loader {
  position: fixed;
  inset: 0;
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-loader-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.game-loader .loading-bar {
  height: 3px;
  border-radius: 100px;
  background-color: rgba(240, 255, 145, 0.2);
  width: 300px;
  overflow: hidden;
  position: relative;
}
.game-loader .loading-bar::before {
  content: "";
  width: 10px;
  background-color: rgb(240, 255, 145);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  animation: progress 1.2s ease-in-out forwards;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

.game-loader {
  opacity: 0;
  visibility: hidden;
  transition: all 1s ease-out;
}

.game-loader.visible {
  opacity: 1;
  visibility: visible;
}

.game-loader-container {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-out;
}
.game-loader-container.hidden {
  opacity: 0;
  visibility: hidden;
}

button:disabled:hover {
  border-color: none;
  transform: scale(1);
  cursor: not-allowed !important;
}

button:disabled:focus-visible {
  outline: none;
}

button:disabled {
  background-color: #756b3f !important;
  color: rgb(32, 32, 32);
}
.rotate-loading {
  color: #e8ffa4;
  height: 50px;
  width: 50px;
  transform-origin: center;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.game-wrapper {
  overflow: auto;
}

@media screen and (max-width: 1200px) {
  .game-wrapper {
    display: flex;
    flex-direction: column;
  }
  .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .side-component {
    border-radius: 0px !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {
  .game-wrapper {
    display: flex;
    flex-direction: column;
  }

  .game-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  select {
    order: 1;
  }
  .controller-wrapper {
    order: 2;
  }

  .game-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    order: 3;
    grid-column: 1 / span 2;
  }
}
.controller-wrapper button {
  min-width: 100px;
}
