html {
  color-scheme: dark;
}

:root {
  font-family: "Segoe UI", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      rgba(110, 118, 47, 0.877),
      rgba(33, 42, 23, 0.928)
    ),
    url(/assets/background.png);
  color: white;
  background-attachment: fixed;
}

.link-button {
  background-color: #1f1f1f;
  padding: 1.2rem 2.5rem;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid rgba(110, 118, 47, 0.877);
  border-radius: 12px;
  font-size: 1.2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-family: 'Press Start 2P', cursive;
}

.link-button:hover {
  background-color: #00ffea;
  color: #121212;
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 255, 234, 0.6);
}
